/* Fonts */
@font-face {
    font-family: 'Gilroy';
    src: url(./fonts/Gilroy-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Gilroy';
    src: url(./fonts/Gilroy-Medium.ttf);
    font-weight: 500;
}
@font-face {
    font-family: 'Gilroy';
    src: url(./fonts/Gilroy-Regular.ttf);
    font-weight: 400;
}
/* Adding general properties */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Colors */
:root{
    --blue: #1678FB;
    --main-headings: #314259;
    --para: #9092A3;
    --white: #ffffff;
    --transparent: #F5F5F5;
    --light-blue-bg: #F3F6FB;
    --text-on-dark: #ADB1BB;
    --dark-blue-bg: #314259
}

/* Typography */
.main-heading{
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 56px;
    line-height: 67.2px;
    color: var(--main-headings);
}
.sub-heading{
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: var(--main-headings);
}
.feature-heading{
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: var(--main-headings);
}
.general-text{
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: var(--para);
}
.button-text{
    font-family: 'Gilroy', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: var(--blue);
}

/* Shadows */
.general-shadow-1{
    box-shadow: 0px 30px 60px 0px rgba(164, 172, 179, 0.20);
}
.general-shadow-2{
    box-shadow: 0px 10px 20px 0px rgba(164, 172, 178, 0.12);
}

/* Navbar */
.navbar{
    max-width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    height: 56px;
    align-items: center;
    color: #9092A3;
    font-size: 24px;
    font-family: 'Gilroy';
    font-weight: 700;
    line-height: 36px;
}
.navbar-links ul{
    list-style: none;
    display: flex;
    gap: 28px;
    font-family: 'Gilroy', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #586B85;
}

.navbar-links ul a{
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 8px;
    padding: 12px 24px 12px 24px;
    color: #FFF;
    text-decoration: none;
    font-weight: 700;
}

/* Mobile Section */

.mobile-section{
    max-width: 1170px;
    height: 52px;
}
.mobile-section-link{
    display: flex;
    float: right;
    margin-top: 28px;
    margin-right: 20px;
    align-items: center;
    gap: 8px;

}
.mobile-section-link a{
    text-decoration: none;
    color: #9092A3;
    font-size: 16px;
    font-family: Gilroy;
    font-weight: 400;
    line-height: 24px;
}

/* Hero Section */
.hero-section{
    margin-top: 48px;
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
}
.hero{
    max-width: 1170px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin: 24px 24px 24px 24px;
}
.hero-content{
    width: 50%;
    flex-grow: 2;
}
.hero-content-heading span{
    color: var(--blue);
}
.list-item{
    display: flex;
    padding: 12px 0px;
    align-items: center;
    gap: 8px;
}
.hero-content-rating{
    display: flex;
    padding-top: 24px;
    align-items: center;
    gap: 8px;
}
.hero-content-review-link{
    color: var(--blue);
    margin-left: 24px;
    margin-right: 24px;
    text-decoration: underline;
}
.hero-content-links{
    display: flex;
padding-top: 24px;
align-items: flex-start;
gap: 24px;
}
.hero-content-primary{
    background-color: var(--blue);
    border: 1px solid var(--blue);
    border-radius: 8px;
    padding: 12px 24px 12px 24px;
    color: #FFF;
    text-decoration: none;
    font-weight: 700;
}
.hero-content-secondary{
    padding: 12px 24px 12px 24px;
    text-decoration: none;
    font-weight: 700;
    color: var(--blue);
}

/* Solution Section */

.solutions-section{
    padding-top: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.solutions{
    max-width: 1170px;
    margin-left: 24px;
    margin-right: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}
.solution-cards{
    display: flex;
    gap: 32px;
    justify-content: center;
}
.solution-card{
    width: 360px;
    height: 256px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 32px 40px 32px 24px;
    border-radius: 12px;
    border: 1px solid #E5E5E9;
    background: #FFF;
}
.solution-card img{
    width: 48px;
height: 48px;
}

.gst-software-section{
    padding-top: 248px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
}
.gst-software{
    max-width: 1170px;
    display: flex;
    justify-content: space-between;
    gap: 248px;
    align-items: center;
    margin-left: 24px;
    margin-right: 24px;
}
.gst-software-content{
    display: flex;
    flex-direction: column;
    gap: 28px;
}
.gst-software-cards{
    display: flex;
padding: 0px 16px;
justify-content: center;
align-items: center;
align-content: flex-start;
gap: 32px 24px;
flex-wrap: wrap;
}
.gst-software-card{
    width: 358px;
    height: 288px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 36px;
    border-radius: 12px;
background: rgba(255, 255, 255, 0.00);
}
.gst-software-card img{
    width: 48px;
height: 48px;
flex-shrink: 0;
}
/* erp section */
.erp-section{
    margin-top: 80px;
    padding-top: 96px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.erp{
    max-width: 1170px;
    display: flex;
    margin-left: 24px;
    margin-right: 24px;
    align-items: center;
}
.erp-content{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 100px;
width: 50%;
}
.erp-content a{
    text-decoration: none;
}
.erp-image-box{
    width: 50%;
}
.erp-image-box img{
    max-width: 100%;
    height: auto;
}